extends ../layout

block title
    | BattleDice

block content

    script.
        window.requestAnimFrame = (function(){
        return  window.requestAnimationFrame       ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame    ||
        function( callback ){
        window.setTimeout(callback, 1000 / 60);
        };
        })();

    script(type='text/javascript')
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31402499-1']);
          _gaq.push(['_trackPageview']);
          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    if !req.user

        div#introWrapper
            div#introContent
                div.introTitle BattleDice
                div.introDescription
                    p Battledice is a development project inspired by&nbsp;
                        a(href="http://www.eredan-arena.com/", target="_blank") Eredan Arena&nbsp;
                        | and&nbsp;
                        a(href="http://wizkidsgames.com/quarriors/", target="_blank") Quarriors!

                    p Implemented using node.js and CoffeeScript players can login using local or facebook passport strategies. Accounts persistence is implemented in MongoDB with mongoose.
                    p Start a match and fight your enemy’s heroes matching your card’s ability cost or performing basic attacks. Rules will be familiar if you played Yahtzee.
                    p Source code available on&nbsp;
                        a(href="https://github.com/meanme/battledice", target="_blank") github

                    p You must authenticate to play

    else

        script.
            window.heroesCatalog = !{JSON.stringify(heroesCatalog)}
            window.playerJson = !{JSON.stringify(playerJson)}

        div#main-mode.game-mode
            #player-profile
                div.player-level
                    div Level: #{level}
                div.player-xp
                    meter(value="#{xp}", min='0', max='100')

            div#heroWrapper
                div Your Heroes
                div#scroller
                    ul
                        each hero in heroesCatalog
                            include ../game/hero-thumb

            // TODO - Allow players to select their own
            // active set of heroes instead of picking randomly
            div#activeSetHeroes
                ul
                    li
                    li
                    li
                    li
                    li

            div.centeredBtn
                button#playBtn.pure-button Start Match

        include ./match
        include ./market
        include ./results
