div#match-mode.game-mode

    div#hero0.hero-match

        div.name

        div.pictureContainer
            img.picture

        div.atk

        ul.skillsList

    div#hero1.hero-match

        div.name

        div.pictureContainer
            img.picture

        div.atk

        ul.skillsList


    div#diceRoll

        div#diceContainer

        button#reRoll.pure-button Roll Again

    div#enemyRoll

        div Opponent
        div#enemyContainer

    footer#roundResults
        div.roundLabel Round 1
        div.roundDescription Hero 0 (200) VS Hero 1 (200)
        button.roundOutcome.pure-button Winner
