div#results-mode.game-mode

    ul#matchSummary
        li.roundSummary
            div.hero0
                img.heroPic(src= "http://meanme.com:3000/img/preview_75x75.png")
                div.diceSummary Display Dice Roll
                div.totalDamage 777
            div.hero1
                img.heroPic(src= "http://meanme.com:3000/img/preview_75x75.png")
                div.diceSummary Display Dice Roll
                div.totalDamage 666

            div.outcome RESULT

    button#resultBtn.pure-button Continue